@import url(styles/header.css);
@import url(styles/section-inicio.css);
@import url(styles/section-projetos.css);
@import url(styles/section-sobre_mim.css);
@import url(styles/section-contato.css);
@import url(styles/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

:root{
    --cor-azul-Primaria: #012340;
    --cor-azul-Secundario: #011e38;
    --cor-verde-Primario: #04D939;
    --cor-verde-Secundario: #03A63C;
    --cor-verde-Terciario:#027333;
    --cor-verde-Quaternario: #025939;
    --cor-azul-verdeQ-Degrade: linear-gradient(178deg, #012340 20%, #025939 100%);

    --font-Principal: "Alan sans"
}

html {
  scroll-behavior:smooth;
  width: auto;
  height: auto;
}

a{
    text-decoration: none;
}

* {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: var(--font-Principal);
    color: #fff;
}


body{
    
    background-image: linear-gradient(to bottom, #00539b,#012c52, #00182e, black);
    width: 100%;
    height: 100%;
}



.container__bolhas{
    filter: blur(0.1rem);
    z-index: -100;
    width: 100%; 
    height: 100vmax;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    justify-content:space-around;
    overflow: hidden;
    
}



.container__bolhas span{
    position: relative;
    background: var(--cor-verde-Primario);
    margin: 0 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px var(--cor-verde-Secundario), 0 0 50px var(--cor-verde-Primario), 0 0 100px var(--cor-verde-Primario);
    animation: animacao 15s linear infinite;
    animation-duration: calc( 200s / var(--i));
}

.container__bolhas span:nth-child(even){
    
    background: var(--cor-verde-Terciario);
    box-shadow: 0 0 0 10px var(--cor-verde-Quaternario), 0 0 50px var(--cor-verde-Terciario), 0 0 100px var(--cor-verde-Terciario);
}

@keyframes animacao {
    0%{
        transform: translateY(100vmax) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

@media screen and (max-width: 800px) {
    .container__bolhas{
        height: 100vmax;
    }

    .container__bolhas span{
        margin: 0 1px;
        width: 5px;
        height: 5px;
        box-shadow: 0 0 0 3px var(--cor-verde-Secundario), 0 0 7px var(--cor-verde-Primario), 0 0 9px var(--cor-verde-Primario);
    }

    .container__bolhas span:nth-child(even){
        box-shadow: 0 0 0 3px var(--cor-verde-Quaternario), 0 0 7px var(--cor-verde-Terciario), 0 0 90px var(--cor-verde-Terciario);
    }
}