.cabecalho{
    z-index: 100;
    margin: 1rem;
    border-radius: 5rem;
    background-color: #012b50; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.3rem;
    width: auto;
    position: sticky;
    top: 0;
    box-shadow: 0rem 0.3rem 9rem 0.06rem black;
}

.cabecalho-autor{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cabecalho-autor_nome{
    font-size: 1.7rem;
    font-weight: bold;
    transition: 0.5s;
}

.cabecalho-autor_nome:hover{
    font-size: 2rem;
}

.linkedin-logo{
    opacity: 0;
    position: absolute;
    left: 11rem;
    height: 2rem;
    transition: 1s;
}

.cabecalho-autor_nome:hover + .linkedin-logo{
    opacity: 1;
    left: 16rem;
    height: 2.5rem;
}

.container{
    gap: 1rem;
    display: flex;
    align-content: center;
}

.container__links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
}

.container__links_unit{
    position: relative;
    text-align: center;
    font-size: 1.3rem;
    padding: 0rem 0.3rem;
    width: auto;
    height: 1.7rem;
    border-radius: 5rem;
    transition: 0.5s;
    background: linear-gradient(to left, var(--cor-verde-Primario));
    background-repeat: no-repeat;
    background-size: 0% 10%;
    background-position: 0 100%;
}

.container__links_unit:hover{
    font-size: 2rem;
    height: 2.6rem;
    background-size: 100% 10%;
}

.container__links_unit::before{
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0.1rem;
    border-radius: 5rem;
    transition: 0.5s;
    background: linear-gradient(to left, #285a85);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: 0 100%;
}

.github{
    display: flex;
    align-items: center;
    position: relative;
    background: #3b3b3b;
    padding: 0 1rem;
    border-radius: 99px;
    transition: 0.5s linear;
}
.github::before{
    z-index: -1;
    content: "";
    filter: blur(10px);
    position: absolute;
    right: 0.1rem;
    width: 100%;
    height: 100%;
    background: #3b3b3b;

}

.github:hover{
    box-shadow: 0px 0px 5px 2px white;
}

.img_github{
    z-index: 1;
    opacity: 0;
    position: absolute;
    transition: all 1.2s;
    right: 8rem;
    height: 2rem;
    
}



.text_github:hover + .img_github{
    opacity: 1;
    right: 12.8rem;
    height: 3rem;
    animation: rodar 1s linear;
}

@keyframes rodar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.text_github{
    z-index: 1;
    position: relative;
    font-size: 1.7rem;
    font-weight: 700;
    transition: 0.5s;
}

.text_github:hover{
    font-size: 2rem;
}




@media screen and (min-width: 600px) and (max-width: 900px){
    .cabecalho-autor_nome{
        font-size: 1rem;
    }

    .cabecalho-autor_nome:hover{
        font-size: 1.2rem;
    }

    .linkedin-logo{
        left: 5rem;
        height: 1rem;
    }

    .cabecalho-autor_nome:hover + .linkedin-logo{
        left: 10.1rem;
        height: 1rem;
    }

    .container__links{
        gap: 0.2rem;
    }
    .container__links_unit{
        font-size: 0.9rem;
        height: 1.3rem;
    }

    .text_github{
        font-size: 1rem;
    }

    .text_github:hover{
        font-size: 1.2rem;
    }

    .img_github{
        right: 4rem;
        height: 0.5rem;
    }

    .text_github:hover + .img_github{
        right: 8.5rem;
        height: 1.5rem;
    }
}

@media screen and (max-width: 600px){


    .cabecalho{
        margin: 0.3rem;
        padding: 0.7rem 0.3rem;
    }

    .cabecalho-autor_nome{
        font-size: 0.76rem;
    }

    .cabecalho-autor_nome:hover{
        font-size: 0.8rem;
    }

    .linkedin-logo{
        left: 3rem;
        height: 0.4rem;
    }

    .cabecalho-autor_nome:hover + .linkedin-logo{
        left: 6rem;
        height: 0.8rem;
    }

    .container__links{
        gap: 0.01rem;
    }
    .container__links_unit{
        font-size: 0.76rem;
        height: 0.9rem;
    }

    .container__links_unit:hover{
        font-size: 0.8rem;
        height: 1rem;
    }

    .github{
        padding: 0rem 0.3rem;
    }

    .text_github{
        font-size: 0.76rem;
    }

    .text_github:hover{
        font-size: 0.8rem;
    }

    .img_github{
        right: 2rem;
        height: 0.5rem;
    }

    .text_github:hover + .img_github{
        right: 4.8rem;
        height: 0.9rem;
    }
}