#Contato{
    text-align: center;
    margin: 0 2rem 2rem 2rem;
}



.formulario-titulo{
    font-size: 4rem;
}

.formulario-titulo span{
    color: var(--cor-verde-Primario);
    
}

.formulario-content{
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin: 0 10vw;
}

.formulario-content input{
    color: black;
    padding: 1rem;
    border-radius: 50px;
    height: 1rem;
}

.formulario-content input:focus{
    font-size: 0.9rem; 
}

.formulario-content textarea{
    color: black;
    resize: none;
    padding: 2rem;
    border-radius: 30px;
    height: 6rem;
}

.formulario-content textarea:focus{
    font-size: 0.9rem;
}

.formulario-content-ID{
    display: flex;
    gap: 1rem;
}
.formulario-content-ID input{
    width: 100%;
}

.btn-enviar{
    display: flex;
    justify-content: center;
    height: 2rem 0;
}


.botao-enviar{
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    border-radius: 5rem;
    background: var(--cor-verde-Primario);
    font-size: 1.2rem;
    text-align: center;
    transition: 0.1s, box-shadow 0.2s linear;
}
.botao-enviar:focus{
    box-shadow: 0 0 30px 3px var(--cor-verde-Primario);
}

.botao-enviar:disabled{
    cursor: not-allowed;
    background:  #3b6946;
}

.botao-enviar:enabled{
    cursor: pointer;
    background: var(--cor-verde-Primario);
}


@media screen and (max-width: 800px){
    .formulario-titulo{
        font-size: 2rem;
    }
    
    .formulario-content{
        margin: 0;
    }

   
    
}