.perfil{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5%;
}

.perfil__img{
    width: 20%;
    height: 20%;
    border-radius: 80%;
    animation: flutuar 5s linear infinite;
}

@keyframes flutuar {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}


.perfil__sobre{
    margin: 0 30vh;
    padding: 1rem 2rem;
    width: 60%;
    border: solid;
    border-radius: 32px;
    box-shadow: 0px  1rem 2rem 0.5rem #001120;
    background-color: #011e38c5;
}

.perfil__sobre_paragrafo{
    text-align: center;
    font-size: 1.5rem;
}

.perfil__sobre_logo{
    padding: 1rem;
    gap: 1.6rem;
    display: flex;
    justify-content: center;
}

.logo{
    width: 12%;
}

@media screen and (max-width: 800px) {
    .perfil{
        gap: 1rem;
    }

    .perfil__titulo{
        font-size: 1.2rem;
    }

    .perfil__sobre{
        width: 17rem;
        padding: 0.7rem 1rem;
    }
    .perfil__sobre_paragrafo{
        font-size: 1rem;
    }
}